@page
@using TrainApp.Areas.Coach.Pages
@model EditParametersModel;
@{
    ViewData["Title"] = "Assign Coach";
}

<head>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" />
    <link rel="stylesheet" href="/css/site.css" />
    <meta charset="utf-8" />
</head>
@* <style>
    form#addTaskForm {
        display: grid;
        grid-template-columns: 150px auto; /* Label 150px szerokości, input zajmuje resztę */
        gap: 12px 16px; /* Odstępy między wierszami i kolumnami */
        align-items: center; /* Wyrównanie elementów do środka pionowo */
    }

        form#addTaskForm .form-group {
            display: contents; /* Pozwala na wyrównanie elementów bez dodatkowego kontenera */
        }

        form#addTaskForm label {
            text-align: left; /* Wyrównanie labeli do lewej */
            font-weight: bold; /* Opcjonalne: pogrubienie tekstu */
        }

        form#addTaskForm input {
            width: 100%; /* Inputy wypełniają dostępną przestrzeń */
            padding: 8px;
            border: 1px solid #ccc;
            border-radius: 4px;
        }
</style> *@

<body class="ur-body">
    <div style="min-width: 30rem;">
        <div class="login-box" style="border-color: #ffca2c !important;">
            <div class="login-header" style="background-color: #ffca2c">
                <span style="font-weight:600;">
                    @if (Model.Parameters == null)
                    {
                        <text>Dodaj parametry</text>
                    }
                    else
                    {
                        <text>Edytuj parametry</text>
                    }
                </span>
            </div>
            <form method="post" id="addTaskForm">
                @Html.AntiForgeryToken()

                <input type="hidden" name="PlayerId" value="@Model.Player.Id" />

                <div class="input-box">
                    <input name="Height" id="Height" class="input-field" value="@Model.Parameters?.Height" required />
                    <label asp-for="Parameters.Height" class="label" style="background-color: #ffca2c; font-weight: 500;">Wzrost</label>
                    <span asp-validation-for="Parameters.Height" class="text-danger"></span>
                </div>

                <div class="input-box">
                    <input name="Weight" id="Weight" class="input-field" value="@Model.Parameters?.Weight" required />
                    <label asp-for="Parameters.Weight" class="label" style="background-color: #ffca2c; font-weight: 500;">Waga</label>
                    <span asp-validation-for="Parameters.Weight" class="text-danger"></span>
                </div>

                <div class="input-box">
                    <input name="Speed" id="Speed" class="input-field" value="@Model.Parameters?.Speed" required />
                    <label asp-for="Parameters.Speed" class="label" style="background-color: #ffca2c; font-weight: 500;">Szybkość</label>
                    <span asp-validation-for="Parameters.Speed" class="text-danger"></span>
                </div>

                <div class="input-box">
                    <input name="Endurance" id="Endurance" class="input-field" value="@Model.Parameters?.Endurance" required />
                    <label asp-for="Parameters.Endurance" class="label" style="background-color: #ffca2c; font-weight: 500;">Wytrzymałość</label>
                    <span asp-validation-for="Parameters.Endurance" class="text-danger"></span>
                </div>

                <div class="input-box">
                    <input name="HighJump" id="HighJump" class="input-field" value="@Model.Parameters?.HighJump" required />
                    <label asp-for="Parameters.HighJump" class="label" style="background-color: #ffca2c; font-weight: 500;">Skok wzwyż</label>
                    <span asp-validation-for="Parameters.HighJump" class="text-danger"></span>
                </div>

                <div class="input-box">
                    <input name="Dribble" id="Dribble" class="input-field" value="@Model.Parameters?.Dribble" required />
                    <label asp-for="Parameters.Dribble" class="label" style="background-color: #ffca2c; font-weight: 500;">Drybling</label>
                    <span asp-validation-for="Parameters.Dribble" class="text-danger"></span>
                </div>

                <div class="input-box">
                    <input name="LegStrength" id="LegStrength" class="input-field" value="@Model.Parameters?.LegStrength" required />
                    <label asp-for="Parameters.LegStrength" class="label" style="background-color: #ffca2c; font-weight: 500;">Siła nóg</label>
                    <span asp-validation-for="Parameters.LegStrength" class="text-danger"></span>
                </div>

                <div class="input-box">
                    <input name="ShotPower" id="ShotPower" class="input-field" value="@Model.Parameters?.ShotPower" required />
                    <label asp-for="Parameters.ShotPower" class="label" style="background-color: #ffca2c; font-weight: 500;">Siła strzału</label>
                    <span asp-validation-for="Parameters.ShotPower" class="text-danger"></span>
                </div>

                <div class="input-box">
                    <input name="Flexibility" id="Flexibility" class="input-field" value="@Model.Parameters?.Flexibility" required />
                    <label asp-for="Parameters.Flexibility" class="label" style="background-color: #ffca2c; font-weight: 500;">Elastyczność</label>
                    <span asp-validation-for="Parameters.Flexibility" class="text-danger"></span>
                </div>


                <div style="display: flex; justify-items: center; flex-direction: column;">
                    <button type="submit" class="btn btn-warning">
                        @if (Model.Parameters == null)
                        {
                            <text>Dodaj parametry</text>
                        }
                        else
                        {
                            <text>Zapisz zmiany</text>
                        }
                    </button>
                    <a href="/Coach/PlayerDetails?playerId=@Model.Player.Id" style="background-color: #0A1A16; color: white;" class="btn mt-2">Powrót</a>
                </div>
            </form>
        </div>
    </div>
</body>