@page
@using TrainApp.Areas.Admin.Pages
@model AssignChoachModel
@{
    ViewData["Title"] = "Assign Coach";
}

<head>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" />
    <link rel="stylesheet" href="/css/site.css" />
    <meta charset="utf-8" />
</head>

<body class="ur-body">
    <div class="header-container d-flex align-items-center">
        <a href="/Admin/ManageTeam?teamid=@Model.Team.TeamId">
            <i class="fa fa-arrow-left back-icon" aria-hidden="true"></i>
        </a>
        <h2 class="title text-center flex-grow-1">Przypisz trenera drużynie</h2>
    </div>
    <div class="table-container">
        <form method="get" class="mb-3 d-flex align-items-center gap-2">
            <input type="hidden" name="TeamId" value="@Model.Team.TeamId" />
            <div style="width: 30%">
                <input type="text" name="searchQuery" value="@Request.Query["searchQuery"]"
                       class="form-control" placeholder="Wyszukaj trenera" />
            </div>
            <button type="submit" class="btn btn-warning">
                <i class="fas fa-search"></i> Filtruj
            </button>
        </form>

        <div class="table-container">
            <table class="table">
                <thead>
                    <tr>
                        <th>Imię i nazwisko</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model.Coaches != null && Model.Coaches.Any())
                    {
                        foreach (var coach in Model.Coaches)
                        {
                            <tr>
                                <td>@coach.Name @coach.Surname</td>
                                <td>
                                    <form method="post">
                                        @Html.AntiForgeryToken()
                                        <input type="hidden" name="TeamId" value="@Model.Team.TeamId" />
                                        <input type="hidden" name="CoachId" value="@coach.Id" />
                                        <button type="submit" class="btn btn-warning">Przypisz</button>
                                    </form>
                                </td>
                            </tr>
                        }
                    }
                    else
                    {
                        <tr>
                            <td colspan="2">Brak wyników pasujących do wyszukiwania.</td>
                        </tr>
                    }

                </tbody>
            </table>
        </div>
    </div>
</body>
@if (TempData["ErrorMessage"] != null)
{
    <script>
        var errorMessage = '@Html.Raw(TempData["ErrorMessage"]?.ToString())';
        alert(errorMessage);
    </script>
}