@page
@using TrainApp.Areas.Admin.Pages
@model ManageTeamModel

<head>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" />
    <link rel="stylesheet" href="/css/site.css" />
</head>

<body class="ur-body">
    <div class="header-container d-flex align-items-center">
        <a href="/Admin/Teams">
            <i class="fa fa-arrow-left back-icon" aria-hidden="true"></i>
        </a>
        <h2 class="title text-center flex-grow-1">Zarządzaj drużyną</h2>
    </div>
    <div class="card mb-3" style="border: 3px solid #ffca2c">
        <div class="card-header" style="font-size: 16px; font-weight: 600; justify-content: center; display: flex; border-bottom: 2px solid #ffca2c; background-color: #ffca2c">
            <div class="d-flex align-items-center">
                @Model.Team.TeamName
            </div>
            <a href="/Admin/EditTeam?teamid=@Model.Team.TeamId" style="border: 1px solid black; border-radius: 8px; justify-content: center;
                        align-items: center; display: flex; padding: 5px; margin-left: 10px;">
                <i class="fa fa-pencil" aria-hidden="true"></i>
            </a>
        </div>
        <div class="card-body">
            <p><strong>Miejsce treningów:</strong> @Model.Team.Address</p>
            <p><strong>Rocznik zawodników:</strong> @Model.Team.PlayersBirthYear</p>
        </div>
    </div>

    <div style="display: flex; flex-direction: row;">

        <h3 class="subtitle" style="margin-bottom: 0px;">Trenerzy</h3>
        <a href="/Admin/AssignCoach?teamid=@Model.Team.TeamId" style="border: 1px solid white; border-radius: 8px; justify-content: center;
                        align-items: center; display: flex; padding: 3px 8px; margin-left: 10px;">
            <i class="fas fa-plus" style="color: white;"></i>
        </a>
    </div>
    <div class="table-container">
        <table class="table">
            <thead>
                <tr>
                    <th>Imię</th>
                    <th>Nazwisko</th>
                    <th>Data urodzenia</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var coach in Model.Coaches)
                {
                    <tr>
                        <td>@coach.Name</td>
                        <td>@coach.Surname</td>
                        <td>@coach.BirthDate.ToString("yyyy-MM-dd")</td>
                        <td>
                            <form method="post">
                                @Html.AntiForgeryToken()
                                <input type="hidden" name="coachId" value="@coach.Id" />
                                <input type="hidden" name="teamId" value="@Model.Team.TeamId" />
                                <a href="/Admin/RemoveCoach?coachId=@coach.Id&teamId=@Model.Team.TeamId" class="btn btn-danger">
                                    <i class="fa fa-trash" aria-hidden="true"></i>
                                    Usuń trenera
                                </a>
                            </form>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>

    <div class="buttons">
        @* <a href="/Admin/EditTeam?teamid=@Model.Team.TeamId" class="buttonR btn-warning">Edytuj dane</a> *@
        @* <a href="/Admin/DeleteTeam?teamid=@Model.Team.TeamId" class="buttonR btn-danger">Usuń drużynę</a> *@
        @* <a href="/Admin/AssignCoach?teamid=@Model.Team.TeamId" class="buttonR btn-success">Dodaj trenera</a> *@
    </div>
</body>