@page
@using TrainApp.Areas.Admin.Pages
@model ManageTeamModel

<head>
    <link rel="stylesheet" href="/css/site.css" />
</head>

<body class="login-page">
 
    <div class="wrapper">
    <div class="login-box">
        <div class="login-header">
            <span>Zarządzaj drużyną</span>
        </div>

            <div>
                <p><strong>Nazwa:</strong>@Model.Team.TeamName</p>
                <p><strong>Adres:</strong> @Model.Team.Address</p>
                <p><strong>Rok powstania:</strong> @Model.Team.CreationYear</p>
                <p><strong>Trener:</strong> @if (Model.Coach != null)
                    {
                        @Model.Coach.Name @Model.Coach.Surname
                    }
                    else
                    {
                        <span>Brak trenera</span>
                    }</p>

            </div>

            <div>
                <a href="/Admin/EditTeam?teamid=@Model.Team.TeamId" class="btn btn-warning">Edytuj dane</a>
                <a href="/Admin/DeleteTeam?teamid=@Model.Team.TeamId"  class="btn btn-danger">Usuń drużynę</a>
                <a href="/Admin/AssignCoach?teamid=@Model.Team.TeamId" class="btn btn-success">Dodaj trenera</a>
    </div>
</div>
</div>
</body>



