@page
@using TrainApp.Areas.Admin.Pages
@model TeamsModel

<head>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" />
    <link rel="stylesheet" href="/css/site.css" />
</head>

<body class="ur-body">
    <div class="header-container d-flex align-items-center">
        <a href="/Index" class="back-button">
            <i class="fa fa-arrow-left back-icon" aria-hidden="true"></i>
        </a>
        <h2 class="title text-center flex-grow-1">Drużyny</h2>
    </div>

    <form method="get" class="mb-3 d-flex align-items-center gap-2">
        <div style="width: 30%">
            <input type="text" name="searchQuery" value="@Request.Query["searchQuery"]"
                   class="form-control" placeholder="Wyszukaj drużynę" />
        </div>
        <button type="submit" class="btn btn-warning">
            <i class="fas fa-search"></i> Filtruj
        </button>
    </form>

    <div class="table-container">
        <table class="table">
            <div style="display: flex; justify-content: flex-start;" class="mb-2">
                <a href="/Admin/AddTeam" class="btn btn-warning">
                    <i class="fas fa-plus"></i>
                    Dodaj nową drużnę
                </a>
            </div>
            <thead>
                <tr>
                    <th style="width: 20%">Nazwa</th>
                    <th style="width: 22%">Miejsce treningów</th>
                    <th style="width: 15%">Rocznik zawodników</th>
                    <th style="width: 20%">Trener</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var team in Model.Teams)
                {
                    <tr>
                        <td>@team.Team.TeamName</td>
                        <td>@team.Team.Address</td>
                        <td>@team.Team.PlayersBirthYear</td>
                        <td>@team.CoachName</td>
                        <td style="display: flex; justify-content: flex-end;">
                            <form method="post">
                                @Html.AntiForgeryToken()
                                <input type="hidden" name="teamId" value="@team.Team.TeamId" />
                                <button type="submit" class="btn btn-warning">Zarządzaj drużyną</button>
                                <a href="/Admin/DeleteTeam?teamid=@team.Team.TeamId" class="btn btn-danger">
                                    <i class="fa fa-trash" aria-hidden="true"></i>
                                </a>
                            </form>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</body>



