@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<head>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" />
</head>

<style>
    
    .start-page .calendar-container {
        background-color: #f8f9fa;
        padding: 20px;
        border-radius: 10px;
        box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    }

  
    .start-page .fc-toolbar {
        background-color: #ffca2c;
        border-radius: 8px;
        padding: 10px;
    }

  
        .start-page .fc-toolbar button {
            background-color: #3b3f49;
            color: white;
            border: none;
            padding: 10px 15px;
            border-radius: 5px;
            cursor: pointer;
            margin: 5px;
            text-transform: uppercase;
            font-weight: bold;
        }

   
    .start-page .fc-daygrid-day {
        background-color: white;
        border: 1px solid #ddd;
    }
    .start-page .fc-event {
        background-color: #ffca2c;
        color: black;
        font-weight: bold;
        border-radius: 5px;
        padding: 5px;
        text-align: center;
    }


    .start-page .fc-col-header-cell {
        background-color: #ffca2c;
        color: white;
        text-transform: uppercase;
        padding: 10px 0;
        font-weight: bold;
    }

    .start-page .fc-day-today {
        background-color: #ffedd5;
        border: 2px solid #ffca2c;
    }

</style>

<body class="start-page">
    <div class="main">
        <div class="content @((User.Identity.IsAuthenticated) ? "authenticated" : "unauthenticated")">

            @if (User.IsInRole("Admin"))
            {
                <div class="text">
                    <h2>Witaj w panelu zarządzania szkółką</h2>
                    <p>
                        Twórz drużyny, przypisuj trenerów i kontroluj wszystkie działania w szkółce. Zorganizuj pracę na najwyższym poziomie!
                    </p>
                </div>
                <div class="picture-div">
                    <img class="picture" src="~/images/index_logo2.png" />
                </div>
            }
            else if (User.IsInRole("Coach"))
            {
                <div class="text">
                    <h2>Witaj w centrum zarządzania drużyną!</h2>
                    <p>
                        Planowanie treningów i monitorowanie postępów zawodników <br /> w jednym miejscu.
                    </p>
                </div>
                <div class="picture-div">
                    <img class="picture" src="~/images/index_logo2.png" />
                </div>
            }
            else if (User.IsInRole("Player"))
            {
                <div class="text">
                    <h2>Witaj w centrum treningowym!</h2>
                    <p>
                        Sprawdzaj nadchodzące wydarzenia i realizuj przypisane zadania. Twoja droga do sukcesu zaczyna się tutaj!
                    </p>
                </div>
                <div class="picture-div">
                    <img class="picture" src="~/images/index_logo2.png" />
                </div>
            }
            else
            {
                <div class="text">
                    <h2>Zarządzaj swoją szkółką  łatwo <br /> i efektywnie</h2>
                    <p>
                        Twórz drużyny, planuj treningi, przypisuj zadania i monitoruj ich wykonanie. Trenerzy z łatwością mogą organizować zajęcia, a zawodnicy mają dostęp do kalendarza z nadchodzącymi wydarzeniami oraz listy zadań do wykonania. Wszysto co potrzebne do usprawnienia funkcjonowania szkółki w jednym miejscu
                    </p>
                    <a href="Identity/Account/Register" class="buttonR">Zarejestruj się teraz</a>
                </div>
                <div class="picture-div">
                    <img class="picture" src="~/images/index_logo2.png" />
                </div>
            }
        </div>
    </div>
    @if (User.IsInRole("Coach") || User.IsInRole("Player"))
    {
        @if (Model.NearestEventTime.HasValue)
        {
            <div class="countdown-container">
                <h3>Nadchodzące wydarzenie:</h3>
                <p><strong>@Model.NearestEventTitle</strong></p>
                <p>Czas do wydarzenia: <span id="countdown"></span></p>
            </div>
        }
        else
        {
            <div class="countdown-container">
                <h3>Brak nadchodzących wydarzeń.</h3>
            </div>
        }
    }

    @if (User.IsInRole("Coach"))
    {
        <div class="calendar-container">
            <script>
                document.addEventListener('DOMContentLoaded', function () {

                    var trainingsRaw = @Html.Raw(Json.Serialize(ViewData["Trainings"]));
                    var trainings = trainingsRaw.$values || [];

                    var calendarEl = document.getElementById('calendar')
                    var calendar = new FullCalendar.Calendar(calendarEl, {
                        locale: 'pl',
                        firstDay: 1,
                        initialView: 'dayGridMonth',
                        headerToolbar: {
                            left: 'prev,next today',
                            center: 'title',
                            right: 'dayGridMonth,timeGridWeek,timeGridDay'
                        },
                        buttonText: {
                            today: 'Dziś',
                            month: 'Miesiąc',
                            week: 'Tydzień',
                            day: 'Dzień'
                        },
                        events: trainings.map(training => ({
                            title: training.title,
                            start: training.start,
                            end: training.end,
                            color: training.color // Przekazujemy kolor z backendu
                        })),
                        eventClick: function (info) {

                            if (confirm('Czy na pewno chcesz usunąć ten trening?')) {

                                var trainingId = info.event.id;

                                fetch('/Index?handler=DeleteTraining', {
                                    method: 'POST',
                                    headers: {
                                        'Content-Type': 'application/json',
                                        'RequestVerificationToken': document.querySelector('input[name="__RequestVerificationToken"]').value
                                    },
                                    body: JSON.stringify({ id: trainingId })
                                })
                                    .then(response => response.json())
                                    .then(data => {
                                        if (data.success) {
                                            alert('Trening został usunięty');
                                            info.event.remove();
                                        } else {
                                            alert('Wystąpił błąd: ' + data.message);
                                        }
                                    })
                                    .catch(error => {
                                        console.error('Błąd:', error);
                                    });
                            }
                        }
                    });
                    calendar.render()
                });
            </script>

            <div id="calendar"></div>
            <div style="margin-top: 10px; display: flex; justify-content: center;">
                <a href="/Coach/AddTraining" class="btn btn-warning">
                    <i class="fas fa-plus"></i>
                    Dodaj wydarzenie
                </a>
            </div>
        </div>

        
    }
    else if (User.IsInRole("Player"))
    {
        <div class="calendar-container">
            <script>
                document.addEventListener('DOMContentLoaded', function () {

                    var trainingsRaw = @Html.Raw(Json.Serialize(ViewData["Trainings"]));
                    var trainings = trainingsRaw.$values || [];

                    var calendarEl = document.getElementById('calendar');
                    var calendar = new FullCalendar.Calendar(calendarEl, {
                        locale: 'pl',
                        firstDay: 1,
                        initialView: 'dayGridMonth',
                        headerToolbar: {
                            left: 'prev,next today',
                            center: 'title',
                            right: 'dayGridMonth,timeGridWeek,timeGridDay'
                        },
                        buttonText: {
                            today: 'Dziś',
                            month: 'Miesiąc',
                            week: 'Tydzień',
                            day: 'Dzień'
                        },
                        events: trainings.map(training => ({
                            title: training.title,
                            start: training.start,
                            end: training.end,
                            color: training.color 
                        }))
                    });
                    calendar.render();
                });
            </script>

            <div id="calendar"></div>
        </div>
    }
</body>
<script>
    document.addEventListener('DOMContentLoaded', function () {
        var nearestEventTime = new Date("@Model.NearestEventTime?.ToString("yyyy-MM-ddTHH:mm:ss")");
        function updateCountdown() {
            var now = new Date();
            var timeDifference = nearestEventTime - now;
            if (timeDifference > 0) {
                var days = Math.floor(timeDifference / (1000 * 60 * 60 * 24));
                var hours = Math.floor((timeDifference % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
                var minutes = Math.floor((timeDifference % (1000 * 60 * 60)) / (1000 * 60));
                var seconds = Math.floor((timeDifference % (1000 * 60)) / 1000);
                document.getElementById('countdown').innerText =
                    `${days} dni ${hours} godz. ${minutes} min. ${seconds} sek.`;
            } else {
                document.getElementById('countdown').innerText = "Wydarzenie już trwa lub minęło!";
            }
        }
        setInterval(updateCountdown, 1000); // Aktualizuj co sekundę
        updateCountdown(); // Uruchom od razu
    });
</script>
<style>
    .countdown-container {
        text-align: center;
        padding: 20px;
        background-color: #f8f9fa;
        border-radius: 8px;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        max-width: 350px;
        margin: 20px auto;
        transition: all 0.3s ease;
    }

    .countdown-container h3 {
        font-size: 1.5rem;
        color: #333;
        margin-bottom: 10px;
    }

    .countdown-container p {
        font-size: 1.2rem;
        font-weight: bold;
        color: #ffca2c;
    }

    .countdown-container span {
        font-size: 2.5rem;
        font-weight: bold;
        color: #e53e3e;
        animation: pulse 1.5s infinite;
    }

   
    }
</style>